@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #ececec;
	padding: 10px;
}

.basic-mail-send-btn {
	border: 1px solid #888;
	padding: 10px;
	border-radius: 4px;
	background-color: white;
}
